In [75]:
import pandas as pd
from plot_utils import plot_results

ImportError: cannot import name 'plot_results' from 'plot_utils' (C:\Users\Shardul Gawande\AppData\Local\Programs\Python\Python39\lib\site-packages\plot_utils\__init__.py)

In [57]:
df = pd.read_csv('BTC_ETH_LTC_Jan2721_Jul2121_1h2.csv')

In [58]:
df.head()

,OpenTime,LTC-USD_Open,LTC-USD_High,LTC-USD_Low,LTC-USD_Close,LTC-USD_Volume,CloseTime,LTC-QuoteAssetVolume,LTC-NumberOfTrades,LTC-TBBAV,...,BTC-USD_Open,BTC-USD_High,BTC-USD_Low,BTC-USD_Close,BTC-USD_Volume,BTC-QuoteAssetVolume,BTC-NumberOfTrades,BTC-TBBAV,BTC-TBBQA,BTC-Ignore
0,2022-03-15 05:30:00,105.5,105.6,105.4,105.6,525.450,2022-03-15 05:30:59.999,55473.9221,95.0,393.690,...,39671.37,39680.01,39611.01,39646.72,79.25549,3.142967e+06,1284.0,37.89966,1.502999e+06,0.0
1,2022-03-15 05:31:00,105.6,105.8,105.6,105.7,190.073,2022-03-15 05:31:59.999,20089.6726,68.0,125.219,...,39646.73,39709.98,39642.96,39673.52,122.32577,4.854854e+06,1224.0,74.25172,2.947323e+06,0.0
2,2022-03-15 05:32:00,105.6,105.9,105.6,105.8,608.394,2022-03-15 05:32:59.999,64330.1824,120.0,401.016,...,39673.51,39746.90,39638.26,39739.69,97.59381,3.874936e+06,1671.0,42.87537,1.702517e+06,0.0
3,2022-03-15 05:33:00,105.8,106.0,105.7,105.7,1107.683,2022-03-15 05:33:59.999,117242.3576,181.0,675.822,...,39741.97,39804.68,39712.48,39713.83,165.86738,6.595635e+06,2354.0,90.09475,3.582114e+06,0.0
4,2022-03-15 05:34:00,105.6,105.7,105.5,105.6,762.437,2022-03-15 05:34:59.999,80440.0159,94.0,227.324,...,39713.84,39713.84,39652.00,39683.76,102.59718,4.070923e+06,1208.0,50.62794,2.008657e+06,0.0

In [59]:
def sma(data, window):
    return(data.rolling(window = window).mean())

def bollinger_band(data, sma, window, nstd):
    std = data.rolling(window = window).std()
    upper_band = sma + std * nstd
    lower_band = sma - std * nstd
    
    return upper_band, lower_band

In [60]:
symbols = ['BTC','ETH','LTC']

In [61]:
nstd = 3

for symbol in symbols:
    df[f'{symbol}_sma'] = sma(df[f'{symbol}-USD_Open'], 20)
    df[f'{symbol}_upper_band'], df[f'{symbol}_lower_band'] = bollinger_band(df[f'{symbol}-USD_Open'], df[f'{symbol}_sma'], 20, nstd)

In [62]:
df.dropna(inplace=True)

In [63]:
df.head()

,OpenTime,LTC-USD_Open,LTC-USD_High,LTC-USD_Low,LTC-USD_Close,LTC-USD_Volume,CloseTime,LTC-QuoteAssetVolume,LTC-NumberOfTrades,LTC-TBBAV,...,BTC-Ignore,BTC_sma,BTC_upper_band,BTC_lower_band,ETH_sma,ETH_upper_band,ETH_lower_band,LTC_sma,LTC_upper_band,LTC_lower_band
19,2022-03-15 05:49:00,105.1,105.1,105.0,105.1,30.961,2022-03-15 05:49:59.999,3253.7714,10.0,1.484,...,0.0,39633.2515,39930.521441,39335.981559,2588.4015,2603.224745,2573.578255,105.380,106.162304,104.597696
20,2022-03-15 05:50:00,105.1,105.2,104.9,104.9,373.879,2022-03-15 05:50:59.999,39283.8133,58.0,160.156,...,0.0,39621.6810,39944.342501,39299.019499,2587.8685,2604.010954,2571.726046,105.360,106.159078,104.560922
21,2022-03-15 05:51:00,105.0,105.1,104.9,105.1,162.771,2022-03-15 05:51:59.999,17090.2618,42.0,128.186,...,0.0,39609.9075,39961.295244,39258.519756,2587.2060,2604.757525,2569.654475,105.330,106.144927,104.515073
22,2022-03-15 05:52:00,105.1,105.1,105.1,105.1,270.914,2022-03-15 05:52:59.999,28473.0614,44.0,233.748,...,0.0,39599.7145,39960.118811,39239.310189,2586.6040,2604.305976,2568.902024,105.305,106.110426,104.499574
23,2022-03-15 05:53:00,105.2,105.3,105.2,105.3,107.142,2022-03-15 05:53:59.999,11279.1618,29.0,106.429,...,0.0,39585.3675,39943.517448,39227.217552,2586.0000,2603.783248,2568.216752,105.275,106.002559,104.547441

In [64]:
class TradingEnv:
    def __init__(self, balance_amount, balance_unit, trading_fee_multiplier):
        self.balance_amount = balance_amount
        self.balance_unit = balance_unit
        self.buys = []
        self.sells = []
        self.trading_fee_multiplier = trading_fee_multiplier
        
    def buy(self, symbol, buy_price, time):
        self.balance_amount = (self.balance_amount / buy_price) * self.trading_fee_multiplier
        self.balance_unit = symbol
        self.buys.append([symbol, time, buy_price])
        
    def sell(self, sell_price, time):
        self.balance_amount = self.balance_amount * sell_price * self.trading_fee_multiplier
        self.sells.append( [self.balance_unit, time, sell_price] )
        self.balance_unit = 'USDT'

In [65]:
env = TradingEnv(balance_amount=100,balance_unit='USDT', trading_fee_multiplier=0.99925)  # VIP level 0, paying fees with BNB = 0.075%

In [66]:
for i in range(len(df)):
    if env.balance_unit == 'USDT':
        for symbol in symbols:
            if df[f'{symbol}-USD_Low'].iloc[i] < df[f'{symbol}_lower_band'].iloc[i]: #buy signal
                env.buy(symbol, df[f'{symbol}_lower_band'].iloc[i], df['OpenTime'].iloc[i])
                break
                
    if env.balance_unit != 'USDT':
        if df[f'{env.balance_unit}-USD_High'].iloc[i] > df[f'{env.balance_unit}_upper_band'].iloc[i]: #sell signal
            env.sell(df[f'{env.balance_unit}_upper_band'].iloc[i], df['OpenTime'].iloc[i])

if env.balance_unit != 'USDT':
    env.sell(df[f'{env.balance_unit}-USD_Close'].iloc[-1], df['OpenTime'].iloc[-1])

In [67]:
print(f'num buys: {len(env.buys)}')
print(f'num sells: {len(env.sells)}')
print(f'ending balance: {env.balance_amount} {env.balance_unit}')

num buys: 426
num sells: 426
ending balance: 54.880725420177335 USDT

In [73]:
plot_results(df, 'LTC', env.buys, env.sells)

NameError: name 'plot_results' is not defined